/*reset*/

*{
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #567370;
    --secondary-color: #f2f2f2;
    --text-color: #394759;
}


/*menu de navigation*/

nav {
    display: flex;
    justify-items: center;
    background-color: var(--primary-color);
}

.logo {
    width: 50px;
    height: 100%;
    margin: auto;
    margin-left: 20px;
}

.navigation {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

.navigation li  {
    margin: auto;
    color: #f2f2f2;
   
}


/*1ere section titre*/

.top-content {
    height: 150vh;
    background-image: url("bannière.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
    color: var(--primary-color);
    font-size: 60px;
    text-align: left;
    padding-top: 90px;
    padding-left: 10px;
    margin: auto;
}

/*section texte*/

.main-content {
    height: 150vh;
    background-image: url("pierre-noire-flou.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 0;
}





/*pied de page*/

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 40px;
    text-align: center;
    padding-top: 10px;
}