/*reset*/

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-1: #567370;
  --color-2: #f2f2f2;
  --color-3: #c6dbdb;
  --color-4: #9fb6bf;
  --text-color: #394759;
}

body {
  background-color: var(--color-2);
  font-family: "Baloo 2", cursive;
  font-size: 16px;
}

h2,
h3,
p {
  color: var(--text-color);
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ______DESKTOP________ */

/* header - MENU NAVIGATION */

header {
  position: sticky;
  display: flex;
  width: 100%;
  height: 8vh;
  top: 0;
  left: 0;
  background-color: var(--color-1);
  z-index: 1;
  align-content: center;
  justify-content: center;
  align-items: center;
}

nav {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 6vw;
  height: 100%;
}

.toggle {
  display: none;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  width: 100%;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: var(--color-2);
  font-size: 1.3rem;
}

.menu a:hover {
  background-color: var(--color-2);
  color: var(--color-1);
  padding: 10px 20px 10px 20px;
}

/* section - TITRE */

.top-content {
  height: 100vh;
  background-image: url("bannière.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  color: var(--text-color);
  font-size: 3.5rem;
  text-align: left;
  padding-top: 5rem;
  padding-left: 1.5rem;
}

/* section TEXTE */

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.wrapper {
  width: 1000px;
}

/* article - A propos */

#about-me {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  height: auto;
  gap: 60px;
}

.img-laeti {
  width: 30%;
  height: 100%;
  padding-top: 65px;
}

.presentation {
  width: 70%;
}

.text-main {
  text-align: justify;
}

/* article - Cours */

#yoga-class {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  height: auto;
  padding-bottom: 80px;
  gap: 60px;
}

.lessons {
  width: 60%;
}

.slider {
  width: 40%;
  position: relative;
  padding-top: 50px;
}

.img-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.img-slider.active {
  opacity: 1;
}

.suivant,
.precedent {
  color: black;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 80px;
}
.suivant {
  right: 1rem;
}
.precedent {
  left: 1rem;
}

/* article - Tarifs et Horaires */

#prices-schedules {
  display: flex;
  justify-content: space-around;
  gap: 90px;
  padding: 20px 0px 20px 0px;
  height: auto;
}

/* sous article - Prix */

.all-prices {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
.prices {
  min-width: 50%;
}

.card {
  background-color: var(--color-3);
  width: calc(100% / 3);
  height: 300px;
}

.name {
  text-align: center;
  background-color: var(--color-4);
  padding: 10px;
}

.details {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.collect {
  flex-direction: column;
  align-items: center;
}

/* sous article - Horaires */

.schedules {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.all-schedules {
  width: 15em;
  height: 300px;
  padding-top: 30px;
}

/* --- 2eme section INFORMATIONS ---- */
.low-content {
  background-color: var(--color-4);
  padding: 20px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.information {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.low-content h2 {
  text-align: center;
}

/*------ article - Me Trouver -----*/

.my-place {
  display: flex;
  justify-content: space-around;
  padding-top: 37px;
}

.details-adress {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-right: 5px;
}

/*----- article - Me Contacter -----*/
.contact {
  display: flex;
  flex-direction: column;
}

label {
  text-align: center;
  padding: 10px 0px 5px 0px;
}

input {
  height: 30px;
  box-shadow: 0px 10px 13px -7px #000000;
  border-color: var(--color-3);
  font-family: cursive;
  color: var(--color-1);
}

textarea {
  height: 80px;
  box-shadow: 0px 10px 13px -7px #000000;
  border-color: var(--color-3);
  font-family: cursive;
  color: var(--color-1);
}

button {
  width: 100px;
  color: var(--color-2);
  background-color: black;
  padding: 5px;
  margin: 20px auto;
  font-family: "Baloo 2", cursive;
  font-size: 0.9rem;
  box-shadow: 0px 10px 13px -7px #000000,
    -4px 0px 25px 2px rgba(86, 115, 112, 0);
  display:block;
}

/*--- article - Me Suivre ---*/
.social {
  list-style: none;
  text-align: center;
  padding-top: 30px;
}

.icone {
  padding: 10px;
}

/* footer */

footer {
  width: 100%;
  background-color: var(--color-1);
  color: var(--color-2);
  text-align: center;
  padding: 10px 0;
}


/* ______RESPONSIVE GRANDE TABLETTE________ */

@media screen and (max-width: 1000px) {
.wrapper {
    width: 96%;
    padding: 0 2%;
  }
}


/* ______RESPONSIVE PETITE TABLETTE________ */

@media screen and (max-width: 768px) {
  .wrapper {
    width: 96%;
    padding: 0 2%;
  }

  .menu a {
    font-size: 1rem;
}

h1 {
  font-size: 3rem;
  padding-top: 2.5rem;
}

  .img-laeti {
    width: 40%;
  }

  .presentation {
    width: 60%;
  }

  #yoga-class {
    display: flex;
    justify-content: space-between;
  }

  .lessons {
    padding-right: 0px;
    width: 60%;
  }

  .slider {
    width: 40%;
    height: 250px;
    padding-top: 65px;
  }

  #prices-schedules {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    padding: 20px 0px 20px 0px;
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
  }

  /* 2eme section informations */
  .information {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 40px;
  }

  ul.social {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  #prices-schedules h2 {
    text-align: center;
  }

  .all-schedules {
    text-align: center;
    width: 100%;
    padding-top: 0;
  }
}

/* ______RESPONSIVE PORTABLE________ */

@media screen and (max-width: 412px) {
  .toggle {
    display: block;
    font-size: 2rem;
    margin-right: 2rem;
    position: relative;
    z-index: 50;
  }

  .menu a {
  font-size: 1rem;
}

  .logo{
    width: 12vw;
  }

  .ouvrir {
    display: block;
    color: var(--color-2);
  }

  .fermer {
    display: none;
    color: var(--color-2);
  }

  .open .ouvrir {
    display: none;
  }

  .open .fermer {
    display: block;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 36%;
    height: 47vh;
    background-color: var(--color-1);
    flex-direction: column;
    justify-content: center;
    transform: translateY(-100%);
  }

  .open .menu {
    transform: translateY(0);
  }

  .menu a:hover {
    background-color: none;
  }

h1 {
  font-size: 3rem;
  text-align: left;
  padding-top: 2rem;
}

  .wrapper {
    width: 96%;
    padding: 0 2%;
  }

  #about-me {
    flex-direction: column;
  }

  .img-laeti {
    width: 100%;
  }

  .presentation {
    width: 100%;
  }

  #yoga-class {
    flex-direction: column-reverse;
    padding-bottom: 0px;
  }

  .lessons {
    width: 100%;
  }

  .slider {
    width: 100%;
    padding-top: 0px;
  }

  #prices-schedules {
    padding: 20px 20px;
}
  .all-prices {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .my-place {
    flex-direction: column;
    align-items: center;
  }
}
