/*reset*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #c9d7de;
}

:root {
    --primary-color: #567370;
    --secondary-color: #f2f2f2;
    --text-color: #394759;
}


/*menu de navigation*/

nav {
    display: flex;
    justify-items: center;
    background-color: var(--primary-color);
    margin-top: 20px;
}

.logo {
    width: 50px;
    height: 100%;
    margin: auto;
    margin-left: 20px;
}

.navigation {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left: 100px;
}

.navigation li  {
    margin: auto;
    color: #f2f2f2;
}


/*1ere section titre*/

.top-content {
    height: 120vh;
    background-image: url("bannière.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
    color: var(--text-color);
    font-size: 60px;
    text-align: left;
    padding-top: 20px;
    padding-left: 10px;
    margin: auto;
}

/*section texte*/

/*part about me*/

.about-me {
    display: flex;
    justify-content: space-between;
    margin: 50px 50px;
    height: auto;
}

.img-laeti {
    width: 50%;
    height: auto;
    padding-right: 30px;
}

.about-me h2, p {
    margin: 10px 0px 10px 10px;
    }

/* part yoga classes*/

.yoga-class {
    display: flex;
    justify-content: space-between;
    margin: 50px 50px;
    height: auto;
}

.yoga-class h2, p{
    margin: 10px 10px 10px 0px;
    }

.img-courses{
    width: 50%;
    height: auto;
    padding-left: 30px;
}

/* part prices and schedule */



/*pied de page*/

footer {
    background-color: #567370;
    color: #f2f2f2;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}